<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de-de">

<head>
  {% block head %} {% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="icon" href="favicon.png" type="image/png">
  {% block javascript %} {% endblock %}
</head>

<body onload="drawmap();">
  <nav class="navbar navbar-expand-md navbar-light bg-dark">
    <a class="navbar-brand" href="{{ url_for('home')}}">
      <img src="../static/img/mobi_logo.png" alt="MOBI_Logo" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('home')}}">Karte</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('sensorinspector')}}">Sensorinspektor</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('feedback')}}">Feedback</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('login')}}">User</a>
        </li>
      </ul>
    </div>
  </nav>
  {% block content %} {% endblock %}
</body>

</html>